.slider {
    margin: 100px 200px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .image {
    margin: 1rem 15.2rem;
    width: 500px;
    height: 300px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 75%;
    right: 50px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 75%;
    left: 20px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  